@import url(variable-1.css);

body {
    font-size: var(--font-size);
    font-size: var(--font-size-body);
    font-family: Arial, sans-serif;
    margin: var(--spacing);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color, black);
    color: white;
    padding: var(--spacing);
    text-align: center;
    font-size: var(--font-size-header);
}

a {
    color: var(--secondary-color, #000);
    text-decoration: none;
}
